doctype html
html(lang='en').loginHtml
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='AC scrum vol 2, made at SMRPO at Faculty of Computer and Information Science - (University of Ljubljana) in 2019.')
        meta(name='author', content='FRI, Jaka Kokošar, Jaka Krajnc, Janez Škrlj, Ladislav Škufca')
        //title= title
        title Ac scrum vol 2
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/styleValidator.css')
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/vendor/bootstrapValidator.min.css')
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous")

    body.loginBody
        .main.container#alignCenterLogin
            .row#loginRow
                .col-md-12.col-md-offset-0.vcenter
                    div.panel.panel-default
                        div.panel-heading
                            h3 AC scrum vol 2
                        div.panel-body
                            p AC scrum vol 2, made at SMRPO at Faculty of Computer and Information Science - (University of Ljubljana) in 2019 by Jaka Kokošar, Jaka Krajnc, Janez Škrlj, Ladislav Škufca.

                    form.well.form-horizontal(method='POST' action='/login')#login_form
                        div.col-md-6.col-md-offset-0.margin-center
                            div.form-group
                                label(for='username') Username:
                                input#username.form-control(type='text' placeholder='Username' name='username' value='')
                            div.form-group
                                label(for='password') Password:
                                input#password.form-control(type='password' placeholder='Enter password' name='password' value='')
                            div.form-group
                                button.btn.btn-primary.center-block#loginBtn(type='submit') Login

                            div.form-group
                                if errorMessages.length > 0
                                    .col-md-12.col-md-offset-0
                                        div.alert.alert-danger(role="alert")
                                            p Error - #{errorMessages}


        script(src='/javascripts/vendor/jquery-3.3.1.min.js')
        script(src='/javascripts/vendor/bootstrap.bundle.min.js')
        script(src='/javascripts/vendor/bootstrapValidator.min.js')
        script(defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous")
        script(src='/javascripts/main.js')
